<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Creación y edición de campos</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Kodchasan" rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <!-- Bootstrap Propio -->
    <link href='../../static/css/registro.css' media='screen' rel='stylesheet' th:href="@{/css/registro.css}" type='text/css'>
    <link href="../../static/css/main.css" media="screen" rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</head>

<body>
    <div id="menu">
        <a href="../usuario/portada.html" th:href="@{/}">Inicio</a> | <a th:href="@{/detalleConcepto/{id}(id=${concepto.id})}">Volver atrás</a>
    </div>
    <div id="formulario">
        <form th:action="${campo.id != 0} ? @{/editCampo/submit/{id}(id=${concepto.id})} : @{/newCampo/submit/{id}(id=${concepto.id})}" th:object="${campo}" method="post">
            <h3 class="text">Nueva Columna</h3>
            <input th:if="${campo.id != 0}" type="hidden" name="id" th:field="*{id}" />
            <input type="text" name="nombre" th:field="*{nombre}" placeholder="Nombre" />
            <input type="text" name="tipo" th:field="*{tipo}" placeholder="Tipo de dato" />
            <input type="submit" name="enviar" value="Enviar" />
        </form>
    </div>
</body>

</html>