html,
body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-family: 'Kodchasan', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Baloo Bhai', cursive;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: #C6FFDD;
    background: -webkit-linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD);
    background: linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

/*HE QUITADO LA CLASE CONTAINER (margin: 10px 10px;)*/