<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"></meta>
		<title>Lista Inventarios</title>
	</head>
	<body>
		<div id="menu">
			<a th:href="@{/inventList}">Inicio</a> | <a href="@{/newInvet}">Nuevo inventario</a>
		</div>
		
		<br /><br />
		
		<table border=1>
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="Invent : ${lista}">
					<td th:text="${Invent.id}">ID</td>
					<td th:text="${Invent.nombre}">Nombre</td>
					<td>
						<a href="#" th:href="@{/editInvent/{nombre}(nombre=${invent.nombre})}">Editar</a>
						<a href="#" th:href="@{"
					</td> 
				</tr>
			</tbody>
		</table>
	
	</body>
</html>