<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CRASINVENT</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Kodchasan" rel="stylesheet">

    <!-- CSS Propio -->
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/main.css' th:href='@{/css/main.css}'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/portada.css' th:href='@{/css/portada.css}'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="text-center">

    <div class="wrapper">
        <header>
            <div>
                <nav>
                    <div class="menu-icon">
                        <i class="fa fa-bars fa-2x"></i>
                    </div>
                    <div class="logo">
                        CRASINVENT
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Conócenos</a></li>
                            <li><a href="#">Contacta</a></li>
                            <li><a href="#">Registro</a></li>
                            <li><a href="#">Login</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="titulo col-lg-8 text-center">
                <h1>Creador y Gestor de Inventarios para facilitar la vida tanto a empresas como a particulares</h1>
            </div>

            <div class="descripcion col-lg-8 text-center">
                <p>Diferentes planes de pago para adaptarse a sus necesidades en cualquier situación. Llevar el recuento de stock e inventario de su empresa nunca fue tan fácil. Después de probar CRASINVENT, no volverás a pisar el sucio y feo almacén de
                    la parte de atrás de su oficina nunca más.
                </p>
            </div>

        </header>

        <div class="content col-lg-10 text-center">
            <h1>PORTADA DE PRUEBA</h1>
            <p>Esto es una prueba puta madre</p>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../static/js/pruebaMenu.js" th:src="@{js/pruebaMenu.js}"></script>
</body>

</html>